/* override default styles added by browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles */

body {
    display: flex;
    flex-direction: column;

}

/*Header*/

/*Main content*/
main {
    flex: 1 0 auto;
}

/*Footer*/
